body{
    margin: 0px;
    padding: 0px;
}

header, main, footer{
    padding-left: 100px;
    padding-right: 100px;
}

header{
    background-image: url(img/pattern.png);
    background-color: rgb(96, 160, 248);
    height: 150px;
    position: relative;
}

div{
    margin-bottom: 20px;
}

#logo{
    width: 250px;
    position: absolute;
    bottom: 20px;
    left: 100px;
}

ul, ol{
    margin: 25px 0px 10px 0px ;
    padding-left: 15px;
}

table, td, th{
    border: none;
    margin: 0px;
}

#caption{
    font-size: 15px;
}

    
h1{
    margin-bottom: 0px;
    font-size: 40px;
}

table{
    margin-top: 30px;
}

#author{
    font-size: 20px;
    color: gray;
}

#date{
    font-size: 10px;
    color: gray;
}

#author>a{
    color:rgb(77, 168, 224);
    text-decoration: none;
}

.highlighted{
    background-color: yellow;
}

thead{
    background-color: rgb(77, 168, 224);
    color: white;
}

.blue{
    background-color: rgb(187, 228, 240);
}

.white{
    background-color: white;;
}

#related-text{
    color: gray;
    font-size: 15px;
    font-weight: bold;
}

.related-content{
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 200px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    margin-top: 10px;
}

#related1{
    background-image: url(img/monitor.jpg);
}

#related2{
    background-image: url(img/graph.jpg);
}

.column-small{
    width: 25%;
}

.column-large{
    width: 50%;
}